<!-- الاسم  -->
<div class="mb-3">
  <input
    class="form-control"
    name="name"
    id="name"
    placeholder="الاسم"
    required
    type="text"
  />
</div>

<!-- رقم الهاتف -->
<div class="input-group mb-3">
  <input
    class="form-control"
    placeholder="رقم الهاتف"
    name="phoneNum1"
    id="name"
    required
  />
  <span class="input-group-text">-</span>
  <input
    class="form-control"
    placeholder="رقم الارضي"
    name="phoneNum2"
    id="name"
    required
  />
</div>
<!-- العنوان -->
<div class="input-group mb-3">
  <input
    class="form-control"
    name="ragion"
    placeholder="المنطفة"
    id="ragion"
    type="text"
    required
  />
  <span class="input-group-text">-</span>
  <input
    class="form-control"
    placeholder="اسم الشارع"
    name="stname"
    id="stname"
    type="text"
    required
  />
  <span class="input-group-text">-</span>
  <input
    class="form-control"
    placeholder="رقم العماره"
    name="blnum"
    id="blnum"
    type="text"
    required
  />
  <span class="input-group-text">-</span>
  <input
    class="form-control"
    placeholder="الدور"
    name="flnum"
    id="flnum"
    type="text"
    required
  />
  <span class="input-group-text">-</span>
  <input
    class="form-control"
    placeholder="رقم الشقه"
    name="donum"
    id="donum"
    type="text"
    required
  />
  <span class="input-group-text">-</span>
  <input
    class="form-control"
    placeholder="علامه مميزه"
    name="spchilmark"
    id="spchilmark"
    type="text"
    required
  />
</div>

<!-- التحاليل -->
<div class="input-group mb-3">
  <span class="input-group-text mb-3">اسماء التحاليل</span>
  <textarea
    class="form-control mb-3"
    aria-label="With textarea"
    name="tests"
    id="tests"
    required
  ></textarea>
</div>

<!-- الوقت  -->
<div class="input-group mb-3">
  <input
    class="form-control mp-3"
    placeholder="تاريخ القيام بالزياره"
    id="time"
    type="text"
    name="time"
    required
  />
  <span class="input-group-text">-</span>
  <input class="form-control mp-3" name="date" id="date" type="date" required />
  <span class="input-group-text">-</span>
  <input
    class="form-control mp-3"
    name="creater"
    id="creater"
    type="text"
    name="creater"
    placeholder="مستقبل الزياره"
    required
  />
  <input
    type="text"
    class="form-control"
    name="chimist"
    placeholder="اسم القائم بالزياره"
    required
  />
</div>

<div class="input-group mb-3">
  <span class="input-group-text mb-3">ملاحظات</span>
  <textarea class="form-control mb-3" name="nots" id="nots" required></textarea>
</div>
<div class="input-group mb-3">
  <span class="input-group-text">الاجمالي</span>
  <input
    class="form-control"
    placeholder="اجمالي التكلفه"
    name="cost"
    id="cost"
    type="text"
    required
  />
</div>
<div class="form-check form-check-inline">
  <input
    class="form-check-input"
    type="radio"
    name="stat"
    id="inlineRadio1"
    value="red"
  />
  <label class="form-check-label" for="inlineRadio1">Del</label>
</div>
<div class="form-check form-check-inline">
  <input
    class="form-check-input"
    type="radio"
    name="stat"
    id="inlineRadio2"
    value="yellow"
  />
  <label class="form-check-label" for="inlineRadio2">In Call</label>
</div>
<div class="form-check form-check-inline">
  <input
    class="form-check-input"
    type="radio"
    name="stat"
    id="inlineRadio3"
    value="white"
  />
  <label class="form-check-label" for="inlineRadio3">Normal</label>
</div>
<div>
  <a href="/" class="btn btn-secondary mt-4">Back</a>
  <button type="submit" class="btn btn-success mt-4">Save</button>
</div>
