* {
  box-sizing: border-box;
}
.body {
  background-color: #e2e8f0;
  font-family: 'Cairo', sans-serif;
  font-family: 'Tajawal', sans-serif;
}
.card {
  width: 50% !important;
  margin: 20px auto !important;
  background-color: #eee !important;
}
h5 {
  padding: 10px !important;
  text-align: center !important;
  border-bottom: 1px solid black;
}
.card-body {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-end !important;
}
p {
  width: fit-content !important;
}
