.body {
  background-color: #f0f6fd;
  font-family: 'Cairo', sans-serif;
  font-family: 'Tajawal', sans-serif;
}
.header {
  text-align: center;
}
.hed {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
h4 {
  font-size: 20px !important;
}
.nav {
  display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
  width: fit-content !important;
}
.no-v {
  text-align: center;
  color: blue;
}
.edit {
  text-decoration: none;
  color: black;
}
.edit:hover {
  color: black;
}
article {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: white;
  padding: 0px !important;
}
.v-heading {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
.card {
  border-bottom: 1px solid black !important;
  border-radius: 0px !important;
}
.card-body {
  display: grid !important;
  /* grid-template-columns: repeat(7, minmax(auto, 1fr)) !important; */
  grid-template-columns: 300px 1fr 1fr 1fr 1fr 1fr 1fr !important;
  align-items: center !important;
  justify-items: center !important;
  gap: 7px !important;
  padding: 5px !important;
  position: relative;
}
.card:hover {
  background-color: #eee;
}
.card-title {
  margin-bottom: 0px !important;
}

.count {
  position: absolute;
  top: 0;
  right: -10px;
}
.del {
  position: absolute;
  top: 0;
  left: -20px;
  background-color: red;
  border: none;
  padding: 5px;
  border-radius: 50%;
}
.new {
  position: absolute;
  top: 20px;
  left: -20px;
  background-color: yellow;
  border: none;
  border-radius: 50%;
  padding: 5px;
}

.red {
  background-color: red !important;
}
.yellow {
  background-color: yellow !important;
}
@media print {
  .header {
    display: none !important;
  }
  .nav {
    display: none !important;
  }
}
